<p-toast></p-toast>
<!-- <p-card class="w-full flex sm:justify-content-center sm:w-auto mx-1 sm:mx-0" [style]="{'padding': '0', 'margin': '0'}"> -->
<p-card class="w-full flex justify-content-center align-content-center">
    <ng-template #header>
        <div class=" flex flex-column sm:flex justify-content-start align-items-center gap-1 p-3">
            <div class="hidden sm:block">
                <img src="assets/images/mindful-logo.png" alt="mindful logo"
                    style="border-radius: 50%; border: 2px solid white; width: 3rem; height: 3rem; object-fit: cover;">
            </div>

            <div class="sm:hidden">
                <img src="assets/images/mindful-logo.png" alt="mindful logo"
                    style="border-radius: 50%; border: 2px solid white; width: 2rem; height: 2rem; object-fit: cover;">
            </div>

            <span class="md:text-3xl">Create an account</span>
        </div>
        <!-- <div class="flex justify-content-center align-items-center gap-3 p-3">
            <span class="text-3xl text-500">Create an account</span> 
            <img src="assets/images/mindful-logo.png" alt="mindful logo"
                style="border-radius: 50%; border: 2px solid white; width: 3rem; height: 3rem; object-fit: cover;">

        </div> -->

    </ng-template>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column sm:flex sm:justify-content-center gap-1">
            <span class="p-input-icon-left">
               <p-select [options]="accountTypes" optionLabel="name" placeholder="Account Type" class="w-19rem md:p-2 sm:w-27rem  md:w-30rem m-2" />
            </span>

            <span class="p-input-icon-left">
                <input id="email1" type="text" placeholder="First Name" formControlName="firstName" pInputText
                    class="w-19rem p-2 md:p-3 sm:w-27rem  md:w-30rem m-2">
            </span>

            <span class="p-input-icon-left">
                <input id="email1" type="text" placeholder="Last Name" formControlName="lastName" pInputText
                    class="w-19rem p-2 md:p-3 sm:w-27rem md:w-30rem m-2">
            </span>

            <span class="p-input-icon-left">

                <input id="email1" type="text" placeholder="User Name" formControlName="userName" pInputText
                    class="w-19rem p-2 md:p-3 sm:w-27rem md:w-30rem m-2">
            </span>

            <span class="p-input-icon-left">

                <input id="email1" type="text" placeholder="Email address" formControlName="email" pInputText
                    class="w-19rem p-2 md:p-3 sm:w-27rem md:w-30rem m-2">
            </span>

            <span class="p-input-icon-left">
                <p-password id="password1" formControlName="password" size="large" placeholder="Password"
                    [toggleMask]="true" styleClass="m-2 w-19rem sm:w-27rem md:w-30rem"
                    inputStyleClass="w-19rem p-2 md:p-3 sm:w-27rem md:w-30rem"></p-password>
            </span>



            <div class="text-center mt-1 md:mt-3">
                <span class="text-sm md:text-xl">Already have an account? </span>
                <a routerLink="/auth/login" class="text-primary font-medium text-sm md:text-xl">Sign In</a>
            </div>

            <!-- <div class="flex align-items-center justify-content-between mb-5 gap-5">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1">Remember me</label>
            </div>
            <div class="flex flex-column">
                <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                    style="color: var(--primary-color)">Forgot password?</a>
                <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                    style="color: var(--primary-color)">Sign Up</a>
            </div>
        </div> -->

            <button pButton pRipple label="Sign Up"
                class="mx-1 w-19rem sm:w-27rem md:w-30rem p-2 md:p-3 text-sm md:text-xl"></button>
        </div>
    </form>
</p-card>