.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.side-nav {
  width: auto;
  background: #f4f4f4;
  border-right: 1px solid #ccc;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
