<p-card header="">
    <div class="h-screen bg-primary font-poppins">
        <h1 class="m-0 h-2 text-center text-7xl"> Your Wellness Journey Starts Here</h1>
        <h1 class="m-0 h-2 text-center text-7xl">Starts Here</h1>
        <p class="m-0 text-center text-xl m-2">
            Connect with licensed therapists and take control of your mental health with our secure, professional
            platform
            designed for healing.
        </p>

        <div class="button-area mt-6">
            <div class="flex flex-row justify-content-center align-items-center gap-3">
                <button routerLink="/users/profile/" pButton severity="secondary">
                    <i class="pi pi-user" pButtonIcon></i>
                    <span pButtonLabel>Update Profile</span>
                </button>
                <button pButton severity="info">
                    <i class="pi pi-check" pButtonIcon></i>
                    <span pButtonLabel>Find a Therapist</span>
                </button>
            </div>
        </div>
    </div>

</p-card>