<p-toast></p-toast>
<p-card class="flex justify-content-center align-items-center min-h-screen">
    <ng-template #header>
        <div class="flex flex-column align-items-center gap-1">
            <img src="assets/images/mindful-logo.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"
                style="border-radius: 50%; border: 2px solid white; width: 6rem; height: 6rem; object-fit: cover;">

            <span class="text-600 font-medium">Sign in to continue</span>
        </div>


    </ng-template>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid flex flex-column gap-2">
            <span class="p-input-icon-left">
                <i class="pi pi-envelope pl-2 pr-2"></i>
                <input id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5"
                    style="padding:1rem" formControlName="email">
            </span>
            <span class="p-input-icon-left">
                <i class="pi pi-lock pl-2 pr-2"></i>
                <p-password id="password1" placeholder="Password" [toggleMask]="true" styleClass="mb-5"
                    inputStyleClass="w-full p-3 md:w-30rem" formControlName="password"></p-password>
            </span>


            <div class="text-center mt-3">
                <span>Don't have an account? </span>
                <a routerLink="/auth/signup" class="text-primary font-medium">Register</a>
            </div>


            <!-- forgot password logic -->

            <!-- <div class="flex align-items-center justify-content-between mb-5 gap-5">
                    <div class="flex align-items-center">
                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <label for="rememberme1">Remember me</label>
                    </div>
                    <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                        style="color: var(--primary-color)">Forgot password?</a>
                </div> -->

            <button pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
        </div>
    </form>


</p-card>