<p-toast />

<p-dataview [value]="users">
    <ng-template #list let-items>
        <div *ngFor="let item of items"class="flex justify-content-between align-items-center p-2 sm:p-3">
            <div class="avatar">
                <p-avatar [routerLink]="['/users/profile', item._id]"
                [image]="'https://ui-avatars.com/api/?name=' + item.userName + '&background=random'" 
                shape="circle" />
                <!-- [image]="'https://api.dicebear.com/7.x/avataaars/svg?seed=' + item.userName"  -->
            </div>
            <div class="flex flex-column ">
                <!-- <div class="role">{{item.rolel getActiveRoles(item.role)}}</div> -->
                <div class="role">{{ getActiveRoles(item.role)}}</div>
                <div class="username">{{item.userName}}</div>
            </div>
            <div class="action">
                <p-button label="" [rounded]="true" icon="pi pi-eye"></p-button>
            </div>
        </div>
    </ng-template>
</p-dataview>
